<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Mentor List</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- search & filter & other buttons -->
                    <div class="d-flex align-items-center mb-2">
                        <div class="mr-auto" style="flex-basis: 250px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..."
                                    onchange="changeSearchMentor()" id="mentor-search"data-toggle="tooltip" data-placement="top"
                                    title="Search By Name or Creator">
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button"
                                        onchange="changeSearchMentor()">Search</button>
                                </span>
                            </div>
                        </div>

                        <div onclick="refreshTableMentor()">
                            <i class="mr-3" data-feather="refresh-ccw" data-toggle="tooltip" data-placement="top"
                                title="Refresh table button">
                            </i>
                        </div>
                        <div>
                            <i class="mr-2" data-feather="plus-circle" data-toggle="tooltip" data-placement="top"
                                title="Add Mentor button">
                            </i>
                        </div>
                    </div>
                    <div class="d-flex align-items-start">
                        <div class="input-group" style="flex-basis: 250px;">
                            <select id="status-mentor" class="form-control">
                                <option value="">Status</option>
                                <option value="ACTIVE">Active</option>
                                <option value="INACTIVE">Inactive</option>
                            </select>
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button"
                                    onclick="changeMentorFilter()">Filter</button>
                            </span>
                        </div>

                    </div>
                    <!-- table -->
                    <table class="col-12 table table-striped table-hover table-bordered mt-5">
                        <thead>
                            <tr>
                                <th style="width:15%;" onclick="changeSortMentor('fullname')">
                                    Name
                                    <span id="mentor-fullname-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:15%" onclick="changeSortMentor('totalHourInThisMonth')">
                                    Total hours in month
                                    <span id="mentor-total-hours-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:30%">Class</th>
                                <th style="width:15%" onclick="changeSortMentor('creator')">
                                    Creator
                                    <span id="mentor-creator-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:15%" onclick="changeSortMentor('createdDate')">
                                    Created Date
                                    <span id="mentor-created-date-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:10%" onclick="changeSortMentor('status')">
                                    Status
                                    <span id="mentor-status-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="mentor-table-body">

                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <div class="d-flex justify-content-end">
                        <nav aria-label="...">
                            <ul class="pagination" id="mentor-pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>