<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Student List</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- search & filter & other buttons -->
                    <div class="d-flex align-items-center mb-2">
                        <div class="mr-auto" style="flex-basis: 250px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..."
                                    onchange="changeSearchStudent()" id="student-search" data-toggle="tooltip"
                                    data-placement="top" title="Search By Fullname or Phone or Email">
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button"
                                        onchange="changeSearchStudent()">Search</button>
                                </span>
                            </div>
                        </div>

                        <div onclick="refreshTableStudent()">
                            <i class="mr-3" data-feather="refresh-ccw" data-toggle="tooltip" data-placement="top"
                                title="Refresh table button">
                            </i>
                        </div>
                        <div>
                            <i class="mr-2" data-feather="plus-circle" data-toggle="tooltip" data-placement="top"
                                title="Add Student button">
                            </i>
                        </div>
                    </div>
                    <div class="d-flex align-items-start">
                        <div class="input-group" style="flex-basis: 250px;">
                            <select id="status-student" class="form-control">
                                <option value="">Status</option>
                                <option value="NOT_STARTED">Not Started</option>
                                <option value="ACTIVE">Active</option>
                                <option value="PENDING">Pending</option>
                                <option value="DEFERRED">Deferred</option>
                                <option value="DROP_OUT">Drop-Out</option>
                                <option value="FINISHED">Finished</option>
                            </select>
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button"
                                    onclick="changeStudentFilter()">Filter</button>
                            </span>
                        </div>

                    </div>
                    <!-- table -->
                    <table class="col-12 table table-striped table-hover table-bordered mt-5">
                        <thead>
                            <tr>
                                <th style="width:8%;" onclick="changeSortStudent('code')">
                                    Code
                                    <span id="student-code-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:17%;" onclick="changeSortStudent('username')">
                                    Username
                                    <span id="student-username-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:17%;" onclick="changeSortStudent('fullname')">
                                    Fullname
                                    <span id="student-fullname-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:17%" onclick="changeSortStudent('phoneNumber')">
                                    Phone Number
                                    <span id="student-phonenumber-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:17%" onclick="changeSortStudent('email')">
                                    Email
                                    <span id="student-email-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:17%" onclick="changeSortStudent('classStudent.clazzName')">
                                    Class
                                    <span id="student-class-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:13%" onclick="changeSortStudent('status')">
                                    Status
                                    <span id="student-status-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="student-table-body">

                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <div class="d-flex justify-content-end">
                        <nav aria-label="...">
                            <ul class="pagination" id="student-pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>