<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Course List</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- search & filter & other buttons -->
                    <div class="d-flex align-items-center mb-2">
                        <div class="mr-auto input-group" style="flex-basis: 250px;">
                            <div class="input-group"> <input type="text" class="form-control" placeholder="Search..."
                                    onchange="changeSearchCourse()" id="course-search" data-toggle="tooltip"
                                    data-placement="top" title="Search By Name or Creator">
                                <span class="input-course-append">
                                    <button class="btn-primary" type="button"
                                        onclick="changeSearchCourse()">Search</button>
                                </span>
                            </div>
                        </div>
                        
                        <div onclick="refreshTableCourse()">
                            <i class="align-middle mr-2" data-feather="refresh-ccw" data-toggle="tooltip"
                                data-placement="top" title="Refresh course button"></i>
                        </div>
                        <div>
                            <i class="mr-2" data-feather="plus-circle" data-toggle="tooltip" data-placement="top"
                                title="Add course button">
                            </i>
                        </div>
                        <div>
                            <i data-feather="trash" data-toggle="tooltip" data-placement="top"
                                title="Delete course button">
                            </i>
                        </div>
                    </div>

                    <!-- table -->
                    <table class="col-12 table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width:20%" onclick="changeSortCourse('name')">Name
                                    <span id="course-name-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:15%;"
                                    onclick="changeSortCourse('totalSubjectTotalLessonTotalSubject')">
                                    Total subject
                                    <span id="course-totalSubject-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>

                                <th style="width:15%;" onclick="changeSortCourse('totalSubjectTotalLessonTotalLesson')">
                                    Total lesson
                                    <span id="course-totalLesson-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:15%" onclick="changeSortCourse('creator')">Creator
                                    <span id="course-creator-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>

                                <th style="width:15%" onclick="changeSortCourse('createdDate')">Created Date
                                    <span id="course-createdDate-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>

                                <th class="d-none d-md-table-cell" style="width:20%"
                                    onclick="changeSortCourse('standardTuition')">Tuition
                                    <span id="course-tuiton-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="course-table-body">

                        </tbody>
                    </table>
                    <!-- pagination -->
                    <div class="d-flex justify-content-end">
                        <nav aria-label="...">
                            <ul class="pagination" id="course-pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>