<div class="sidebar-content ">
    <a class="sidebar-brand" href="#">
        <i class="align-middle" data-feather="box"></i>
        <span class="align-middle">DemoCRUD</span>
    </a>

    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link" href="#" onclick="loadDashboardPages()">
                <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#" onclick="loadMentorPages()">
                <i class="align-middle" data-feather="user"></i> <span class="align-middle">Mentor</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#" onclick="loadClassPages()">
                <i class="align-middle" data-feather="target"></i> <span class="align-middle">Class</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#" onclick="loadCoursePages()">
                <i class="align-middle" data-feather="target"></i> <span class="align-middle">Course</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#" onclick="loadSubjectPages()">
                <i class="align-middle" data-feather="target"></i> <span class="align-middle">Subject</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#" onclick="loadStudentPages()">
                <i class="align-middle" data-feather="target"></i> <span class="align-middle">Student</span>
            </a>
        </li>

    </ul>

</div>