<div class="container-fluid p-0">
  <h1 class="h3 mb-3">Subject List</h1>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="mr-auto input-group" style="flex-basis: 250px">
            <div class="mr-auto" style="margin-bottom: 20px">
              <span>
                <input
                  type="text"
                  placeholder="Search..."
                  id="subject-search"
                />
              </span>
              <span>
                <button
                  class="btn btn-primary"
                  type="button"
                  onclick="changeSearchSubject()"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Search By Name or Creator"
                >
                  Search
                </button>
              </span>
            </div>

            <div onclick="refreshTableSubject()" >
              <i
                class="mr-2"
                data-feather="refresh-ccw"
                data-placement="top"
                title="Update button"
                data-toggle="tooltip"
                data-placement="top"
                title="Refresh Subject Table"
              >
              </i>
            </div>
            <div >
              <i
                class="mr-2"
                data-feather="plus-circle"
                data-placement="top"
                title="Add subject button"
                data-toggle="tooltip"
                data-placement="top"
                title="Add Subject Button"
              >
              </i>
            </div>
          </div>
          <table class="col-12 table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th style="width: 15%" onclick="changeSortSubject('name')">
                  Name
                  <span id="subject-name-sort-icon" class="d-none"
                    ><i
                      data-feather="chevron-up"
                      onclick="changeSortSubject('name')"
                    ></i
                  ></span>
                </th>
                <th
                  style="width: 15%"
                  onclick="changeSortSubject('totalLesson')"
                >
                  Total Lesson
                  <span
                    id="subject-totalLesson-sort-icon"
                    class="d-none"
                    onclick="changeSortSubject('totalLesson')"
                    ><i data-feather="chevron-up"></i
                  ></span>
                </th>
                <th style="width: 20%" onclick="changeSortSubject('creator')">
                  Creator
                  <span
                    id="subject-creator-sort-icon"
                    class="d-none"
                    onclick="changeSortSubject('creator')"
                    ><i data-feather="chevron-up"></i
                  ></span>
                </th>
                <th
                  style="width: 20%"
                  onclick="changeSortSubject('createdDate')"
                >
                  Created Date
                  <span
                    id="subject-createdDate-sort-icon"
                    class="d-none"
                    onclick="changeSortSubject('createdDate')"
                    ><i data-feather="chevron-up"></i
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody id="subject-table-body"></tbody>
          </table>
          <div class="d-flex justify-content-end">
            <nav>
              <ul class="pagination" id="subject-pagination"></ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
