<div class="container-fluid p-0">
    <h1 class="h3 mb-3">Subject List</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="mr-auto input-group" style="flex-basis: 250px;">
                        <div class="mr-auto">
                            <span>
                                <input type="text" placeholder="Search..."
                                id="subject-search"/>
                            </span>
                            <span>
                                <button class="btn btn-secondary" type="button" onclick="changeSearchSubject()">Search</button>
                            </span>
                        </div>
                        <div>
                            <i class="mr-2" data-feather="filter" data-placement="top"
                                title="Filter button">
                            </i>
                        </div>
                        <div>
                            <i class="mr-2" data-feather="refresh-ccw" data-placement="top"
                                title="Refresh subject button">
                            </i>
                        </div>
                        <div>
                            <i class="mr-2" data-feather="plus-circle" data-placement="top"
                                title="Add subject button">
                            </i>
                        </div>
                        <div>
                            <i data-feather="trash" data-placement="top"
                                title="Delete subject button">
                            </i>
                        </div>
                    </div>
                    <div >
                        <form>
                            <fieldset class="filter-subject d-flex justify-content-end mb-2" style="border: 1px solid black;">
                                <legend>Filter</legend>
                                <div> 
                                    <label for="filter-creator">Creator</label>
                                    <input type="text" class="mb-2 mr-sm-2" id="filter-creator"></div>
                                <span><button type="button" class="btn btn-primary mb-2">OK</button></span>
                            </fieldset>
                        </form>
                    </div>
                    <table class="col-12 table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width:15%;">Name</th>
                                <th style="width:15%">Total Lesson</th>
                                <th style="width:20%">Creator</th>
                            </tr>
                        </thead>
                        <tbody id="subject-table-body">
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <nav >
                            <ul class="pagination" id="subject-pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>