<div class="container-fluid p-0">
    <h1 class="h3 mb-3">Class List</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- search & other buttons -->
                    <div class="d-flex align-items-center mb-2">
                        <div class="mr-auto" style="flex-basis: 250px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..."
                                    onchange="changeClassSearch()" id="class-search" data-toggle="tooltip"
                                    data-placement="top" title="Search by name, address">
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button"
                                        onchange="changeClassSearch()">Search</button>
                                </span>
                            </div>
                        </div>
                        <div onclick="refreshTableClass()">
                            <i class="mr-2" data-feather="refresh-ccw" data-toggle="tooltip" data-placement="top"
                                title="Refresh table button">
                            </i>
                        </div>
                        <div>
                            <i class="mr-2" data-feather="plus-circle" data-toggle="tooltip" data-placement="top"
                                title="Add group button">
                            </i>
                        </div>
                    </div>

                    <!-- filter -->
                    <div class="d-flex justify-content-end mb-3 ">
                        <div class="input-group mr-5" style="flex-basis: 100px;">
                            <select id="filtter-status" class="form-control">
                                <option value="">Status</option>
                                <option value="NOT_STARTED">Not-started</option>
                                <option value="ACTIVE">Active</option>
                                <option value="MERGE">Merge</option>
                                <option value="FINISHED">Finished</option>
                            </select>

                        </div>
                        <span class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="changeClassFilter()">Filter</button>
                        </span>
                    </div>

                    <!-- table -->
                    <table class="col-12 table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width:10%;" onclick="changeClassSort('Name')">Name
                                    <span id="class-name-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:12%"">Schedule

                                </th>
                                <th style="width:20%" onclick="changeClassSort('Address')">Address
                                    <span id="class-address-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:13%" onclick="changeClassSort('currentLessonSubjectMentor.lessonName')">Lesson-Subject
                                    <span id="class-lesson-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:15%" onclick="changeClassSort('currentLessonSubjectMentor.mentorFullname')">Mentor
                                    <span id="class-mentor-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:10%" onclick="changeClassSort('studentRate.dropoutRate')" data-toggle="tooltip"
                                    data-placement="top" title="Dropout-rate">DORate
                                    <span id="class-DORate-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:10%" onclick="changeClassSort('studentRate.deferredRate')" data-toggle="tooltip"
                                    data-placement="top" title="Deferred rate">DRate
                                    <span id="class-DRate-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                                <th style="width:10%" onclick="changeClassSort('Status')">Status
                                    <span id="class-status-sort-icon" class="d-none"><i
                                            data-feather="chevron-up"></i></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="class-table-body">
                        </tbody>
                    </table>

                    <!-- Pagination: Phân trang -->
                    <div class="d-flex justify-content-end">
                        <nav>
                            <ul class="pagination" id="class-pagination">
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>